.publication-block__text {
  font-size: 14px;
  line-height: 30px;
  color: $color-dark;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.publication-block__post {
  background-color: $color-grey;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.publication-block__buttons {
  display: flex;
  flex-direction: column;
}

.publication-button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $color-pink;
  text-align: center;
  border: 3px solid $color-pink;
  border-radius: 35px;
}

.publication-button--cancel {
  color: rgba(40, 54, 69, 0.1);
  border: 3px solid rgba(40, 54, 69, 0.1);
}
