.user-photos__wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: $color-dark;
  background-repeat: no-repeat;
  content: "";
  // width: 19px;
  // height: 19px;
  min-height: 250px;
  display: block;
  text-align: center;
}

.user-photos__caption {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 50px;
  }
}

.user-photos__promo-text {
  font-size: 14px;
  line-height: 30px;
  color: $color-dark;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.user-photo__label-text {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $color-pink;
  padding-left: 20px;
  padding-right: 21px;
  padding-top: 13px;
  padding-bottom: 11px;
  display: inline-block;
}

.user-photo__content-wrapper {
  background-color: $color-grey;
  padding-left: 17px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.user-photos__content-wrapper-2 {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.container-user-photos {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.user-photo__user {
  display: flex;
  // order: 1;
  width: 400px;
}

.user-photo__name,
.user-photo__time,
.user-photo__text {
  color: $color-dark;
}

.user-photo__name {
  font-weight: 700;
  margin-right: 3px;
}

.user-photo__time {
  font-weight: 300;
}

.user-photo__like {
  font-size: 12px;
  text-transform: uppercase;
  color: $color-pink;
  width: 400px;
}

.user-photo__content-wrapper--chief {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.user-photo__user--chief {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.user-photo__text--chief {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.user-photo__like--chief {
  @media (min-width: $tablet-width) {
    order: 2;
    width: 100px;
  }
}
