.advantages-block__text-promo-1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-top: 41px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    margin-top: 48px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 60px;
    margin-top: 66px;
  }
}

.advantages-block__text-promo-2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  margin-top: 31px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    margin-top: 4px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 75px;
  }
}

.advantages-block__list {
  background-color: $color-grey;
}

.advantages-block__list--container {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.container-advantages-block {
  width: 280px;
  margin: 0 auto;
  padding-top: 82px;

  @media (min-width: $tablet-width) {
    width: 330px;
    margin-left: 42px;
    padding: 0;
    padding-top: 76px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    padding-top: 56px;
    margin: 0;
  }
}

.advantages-block__item--1 {
  @media (min-width: $desktop-width) {
    margin-left: 34px;
  }
}

.advantages-block__item--2 {
  @media (min-width: $desktop-width) {
    margin-left: 98px;
  }
}

.advantages-block__item--3 {
  @media (min-width: $desktop-width) {
    margin-left: 102px;
  }
}

.advantages-block__item {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.advantages-block__text-bold {
  font-size: 18px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages-block__text {
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 32px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
  }
}

.advantages-block__image-list {
  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.advantages-block__image-secondary {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages-block__image-3 {
  margin: 0 auto;
  display: block;
  padding-top: 9px;

  @media (min-width: $tablet-width) {
    padding-top: 0px;
  }
}
