.advantages-block__text-promo {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.advantages-block__list--background {
  background-color: #f2f2f2;
}

.advantages-block__item {
  text-align: center;
}

.advantages-block__text-bold {
  font-size: 18px;
  line-height: 24px;
}

.advantages-block__text {
  font-weight: 300;
}
