.app-block {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: $color-dark;
  background-repeat: no-repeat;
  content: "";
  background-size: 100%;
  min-height: 395px;
  display: block;
  text-align: center;
}

.app-block__image--container {
  position: relative;
}

.app-block__image {
  position: absolute;
  top: 175px;
  left: 0;
  z-index: 1;
}

.app-block__wrapper {
  position: relative;
  z-index: 2;
}

.app-block__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  display: inline-block;
  padding-bottom: 260px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 1px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 60px;
  }
}
