.app-block {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: $color-dark;
  background-repeat: no-repeat;
  content: "";
  // width: 19px;
  // height: 19px;
  display: block;
  text-align: center;
}

.app-block__text {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.app-block__wrapper {
  @media (min-width: $tablet-width) {
      background-color: green;
      width: 300px;
    }
}

// @media (min-width: $tablet-width) {
//   .app-block__wrapper {
//     background-color: green;
//     width: 300px;
//   }
// }
