.buy-block {
  background-color: $color-grey;
  position: relative;
}

.buy-block::before {
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 322px;
  height: 26px;
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 95px;
  }
}

.buy-block--container {
  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.buy-block__slider {
  padding-top: 90px;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 85px;
    padding-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 146px;
    padding-bottom: 95px;
  }
}

.buy-block__list {
  border-collapse: collapse;
  text-align: center;
  width: 840px;
  transform: translateX(-259px);

  @media (min-width: $tablet-width) {
    width: 620px;
    transform: translateX(0);
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.buy-block__item {
  border-style: solid;
  border-width: 2px;
  border-color: #e5e5e5;
  border-collapse: collapse;
}

.buy-block__item--secondary {
  display: none;

  @media (min-width: $tablet-width) {
    display: table-cell;
    width: 138px;
  }
}

.buy-block__item--border-none {
  border: none;
}

.buy-block__item--background {
  background-color: $color-dark;

  @media (min-width: $tablet-width) {
    width: 153px;
  }

  @media (min-width: $desktop-width) {
    width: 160px;
  }
}

.buy-block__item--text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding-top: 17px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-top: 11px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-top: 15px;
  }
}

.buy-block__item--price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    padding-bottom: 21px;
  }
}

.buy-block__item--options {
  line-height: 30px;
  text-transform: uppercase;
  color: $color-dark;
  text-align: left;
  padding-left: 22px;
  padding-top: 14px;
  padding-bottom: 17px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    text-transform: none;
    padding-top: 6px;
    padding-bottom: 10px;
    padding-left: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-left: 21px;
    padding-top: 14px;
    padding-bottom: 16px;
  }
}

.buy-block__item--yes::after {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 31px;
  height: 21px;
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 2px;
    margin-left: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 2px;
    margin-left: 84px;
  }
}

.buy-block__item--no::after {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 27px;
  height: 26px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 2px;
    margin-left: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 2px;
    margin-left: 84px;
  }
}

.buy-block__item--text-none {
  display: inline-block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.buy-block__item--pink-filter {
  margin-right: 76px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.buy-block__item--smile {
  margin-right: 126px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.buy-block__item--comment {
  margin-right: 97px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.buy-block__toggles {
  margin-top: 20px;
  padding-bottom: 52px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
