.buy-block {
  background-color: $color-grey;
}

.buy-block__slider {
  margin-top: 67px;
}

.buy-block__list {
  border-collapse: collapse;
  text-align: center;
}

.buy-block__item {
  border-style: solid;
  border-width: 2px;
  border-color: #e5e5e5;
  border-collapse: collapse;
}

.buy-block__item--secondary {
  display: none;

  @media (min-width: $tablet-width) {
    display: table-cell;
  }
}

.buy-block__item--border-none {
  border: none;
}

.buy-block__item--background {
  background-color: $color-dark;
}

.buy-block__item--text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding-top: 11px;
}

.buy-block__item--price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 89px;
  padding-right: 89px;
  margin: 0;
  padding-top: 16px;
}

.buy-block__item--options {
  line-height: 30px;
  text-transform: uppercase;
  color: $color-dark;
  text-align: left;
  padding-left: 22px;
  padding-right: 124px;
  padding-top: 14px;
  padding-bottom: 17px;
  background-color: #ffffff;
}

.buy-block__toggles {
  margin-top: 20px;
  padding-bottom: 52px;
}
