.contacts-block {
  text-align: center;
}

.contacts-block__text-caption {
  font-size: 24px;
  font-weight: 300;
  color: $color-dark;
  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 40px;
    width: 375px;
  }
  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 50px;
    width: 490px;
    }
}

.contacts-block__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

.contacts-block__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  @media (min-width: $tablet-width) {
    width: 250px;
  }
}

.contacts-block__text-bold {
  font-size: 18px;
  color: $color-dark;
}

.contacts-block__text {
  font-size: 24px;
  font-weight: 300;
  color: $color-pink;
  margin: 0;
}
