.contacts-block {
  text-align: center;
}

.contacts-block__text-caption {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $color-dark;
  margin: 0 auto;
  margin-top: 42px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    margin-top: 46px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 60px;
    margin-top: 63px;
  }
}

.contacts-block__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 25px;
  }
}

.contacts-block__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 250px;
  }
}

.contacts-block__item--1 {
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
    margin-left: 1px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.contacts-block__item--2 {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
    margin-left: 26px;
  }

  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.contacts-block__item--3 {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    margin-top: 33px;
    margin-left: 25px;
  }
}

.contacts-block__text-bold {
  font-size: 18px;
  color: $color-dark;
}

.contacts-block__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $color-pink;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 25px;
  }
}

.contacts-block__mail {
  &:hover,
  &:focus {
    color: $color-dark;
    text-decoration: underline;
  }

  &:active {
    color: $color-dark;
    opacity: 0.3;
  }
}
