.download {
  background-color: #1d2631;
  @media (min-width: $tablet-width) {
      background-color: transparent;
  }
}

.container-download {
  width: 320px;
  @media (min-width: $tablet-width) {
      width: 300px;
      margin-right: auto;
  }
}

.download__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 35px;
}

// .download__item {
//   list-style: none;
// }

.download__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  width: 230px;
  @media (min-width: $tablet-width) {
      font-size: 18px;
      width: 294px;
  }
}
