.download {
  background-color: #1d2631;
}

.download__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 35px;
}

// .download__item {
//   list-style: none;
// }

.download__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
