.effect-block {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 60px;
  }
}

.effect-block--flex {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.effect-block__timer-wrapper {
  @media (min-width: $tablet-width) {
    margin-top: 96px;
    margin-left: 16px;
  }
}

.effect-block__text-promo {
  @media (min-width: $tablet-width) {
    margin-right: 14px;
    margin-top: 37px;
    margin-bottom: 97px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 311px;
  }
}

.effect-block__timer::before {
  @media (min-width: $tablet-width) {
    background-image: url("../img/icon-timer-tablet@1x.png");
    background-repeat: no-repeat;
    content: "";
    display: block;
    width: 238px;
    height: 276px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-timer-tablet@2x.png");
    }
  }
}

.effect-block__text-bold {
  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 36px;
  }
}

.effect-block__text {
  @media (min-width: $tablet-width) {
    line-height: 23px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.effect-block__link {
  @media (min-width: $tablet-width) {
    color: $color-pink;
    text-decoration: underline;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.effect-block-br-none {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
