.footer-index__map {
  width: 320px;
  height: 200px;
  margin-top: 51px;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 375px;
    margin-top: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 500px;
    margin-top: 28px;
  }
}

.page-footer-index {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
