.main-navigation__header {
  background-color: #000000;
  opacity: 0.3;
  display: flex;
  min-height: 70px;
  width: 100%;
  position: absolute;

  @media (min-width: $tablet-width) {
    min-height: 110px;
    background-color: green;
  }

  @media (min-width: $desktop-width) {
    min-height: 110px;
    background-color: red;
  }
}

.main-navigation__toggle {
  width: 50px;
  height: 24px;
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-navigation__wrapper {
  display: none;
  padding-top: 70px;
}
