.page-header {
  position: relative;
}

.main-navigation {
  // position: absolute;
}

.main-navigation__header {
  background-color: #000000;
  opacity: 0.3;
  display: flex;
  min-height: 66px;
  // position: absolute;
  @media (min-width: $tablet-width) {
      min-height: 110px;
      background-color: green;
    }
  @media (min-width: $desktop-width) {
      min-height: 110px;
      background-color: red;
    }
  }

.main-navigation__toggle {
  @media (min-width: $desktop-width) {
      display: none;
    }
}
