.page-header {
  position: relative;
}

.main-navigation {
  // position: absolute;
}

.main-navigation__header {
  background-color: #000000;
  opacity: 0.3;
  display: flex;
}

@media (min-width: $tablet-width) {
  .main-navigation__header {
    min-height: 60px;
    background-color: red;
  }
}
