.reviews-block {
  display: flex;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  margin-top: -42px;

  @media (min-width: $tablet-width) {
    z-index: 0;
    margin-top: 9px;
  }
}

.reviews-block__slider {
  margin-top: 42px;
  margin-bottom: 72px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.reviews-block__slider-item {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.reviews-block__user {
  @media (min-width: $tablet-width) {
    order: 2;
    margin-top: 17px;
  }
}

.reviews-block__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews-block__about-user {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    line-height: 30px;
    margin-top: 3px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews-block__text {
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    order: 1;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
