.reviews-block__slider-item {
  text-align: center;
}

.reviews-block__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.reviews-block__text {
  font-size: 14px;
  line-height: 30px;
}
