.site-list {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 40px;
    left: 400px;
    display: flex;
    text-transform: none;
  }
}

.site-list__item {
  background-color: $color-dark;
  // box-shadow: inset 0px 1px 0 0 rgba(0, 0, 0, 0.15);
  padding-top: 25px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    box-shadow: none;
    padding-top: 2px;
    padding-left: 48px;
    padding-right: 25px;
  }
}

.site-list__link {
  color: #ffffff;
}

.site-list__link--active::after {
  @media (min-width: $desktop-width) {
    display: block;
    background-color: #ffffff;
    content: "";
    width: 100%;
    height: 2px;
    margin-top: 9px;
  }
}
