.user-photos__wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: $color-dark;
  background-repeat: no-repeat;
  content: "";
  background-size: 100%;
  background-position: 0 -63px;
  display: block;
  text-align: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-color: $color-dark;
    background-repeat: no-repeat;
    content: "";
    background-size: auto;
    background-position: -270px -112px;
    display: block;
    text-align: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-color: $color-dark;
    background-repeat: no-repeat;
    content: "";
    background-size: auto;
    background-position: top;
    display: block;
    text-align: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.user-photos {
  @media (min-width: $desktop-width) {
    margin-top: -111px;
  }
}

.user-photos__caption {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
  padding-top: 34px;
  padding-bottom: 84px;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 60px;
    padding-top: 67px;
    padding-bottom: 141px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 173px;
    padding-bottom: 101px;
    width: 356px;
    margin: 0 auto;
  }
}

.user-photos__promo-text {
  font-size: 14px;
  line-height: 30px;
  color: $color-dark;
  text-align: center;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 50px;
  width: 249px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin: 0 auto;
    margin-top: 93px;
    margin-bottom: 76px;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 88px;
    width: 572px;
  }
}

.user-photo--chief {
  position: relative;
}

.user-photo--secondary {
  margin-top: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.user-photo__image--chief {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: 509px;
    object-fit: cover;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.user-photo__label-text {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $color-pink;
  padding-left: 20px;
  padding-right: 21px;
  padding-top: 5px;
  padding-bottom: 7px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 19px;
  margin: 0;

  @media (min-width: $tablet-width) {
    top: 58px;
    right: 19px;
  }

  @media (min-width: $desktop-width) {
    top: 53px;
    right: 129px;
  }
}

.user-photo__content-wrapper {
  background-color: $color-grey;
  padding-left: 17px;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 27px;
    padding-right: 32px;
    padding-top: 23px;
    padding-bottom: 22px;
    min-height: 109px;
  }
}

.user-photos__content-wrapper-all {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    align-items: stretch;
  }
}

.user-photos__content-wrapper-all article:nth-child(2n+1) {
  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.user-photos__content-wrapper-all article:nth-child(n+2) {
  @media (min-width: $desktop-width) {
    margin-left: 20px;
  }
}

.user-photos__content-wrapper-all article:nth-child(3n+1) {
  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.container-user-photos {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.user-photo__image {
  vertical-align: top;
}

.user-photo__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-photo__user {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.user-photo__name,
.user-photo__time,
.user-photo__text {
  color: $color-dark;
  margin: 0;
}

.user-photo__name {
  font-weight: 700;
  margin-right: 3px;
}

.user-photo__time {
  font-weight: 300;
}

.user-photo__like {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin-top: 0;
  }
}

.user-photo__like-heart {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.user-photo__like-heart::after {
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 13px;
  height: 12px;
  margin-top: 5px;
}

.user-photo__like-text {
  font-size: 12px;
  text-transform: uppercase;
  color: $color-pink;
  margin: 0;
  margin-left: 19px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-left: 0;
    margin-right: 16px;
  }
}

.user-photo__content-wrapper--chief {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 28px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 24px;
    min-height: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 15px;
  }
}

.user-photo__user--chief {
  @media (min-width: $tablet-width) {
    order: 1;
    margin-top: 16px;
  }
}

.user-photo__text--chief {
  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    margin-top: -12px;
  }
}

.user-photo__like--chief {
  @media (min-width: $tablet-width) {
    order: 2;
    margin-top: 17px;
  }
}
