@font-face {
 font-family: 'Open Sans';
 src: url('opensans.woff'),
      url('opensans.woff2');
 font-weight: 400;
 font-style: normal;
}

@font-face {
 font-family: 'Open Sans';
 src: url('opensansbold.woff'),
      url('opensansbold.woff2');
 font-weight: 700;
 font-style: normal;
}

@font-face {
 font-family: 'Open Sans';
 src: url('opensanslight.woff'),
      url('opensanslight.woff2');
 font-weight: 300;
 font-style: normal;
}
