.no-js {
  display: block;

  @media (min-width: $desktop-width) {
    display: block;
    // background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-navigation__header--background {
  background-color: $color-dark;
}

.app-block--background-img {
  background-position: 0 -63px;
}

.app-block__image--top {
  top: 112px;
}

.container-content--padding {
  // padding-top: 0;
  padding-top: 27px;
}
