.page-header {
  position: relative;
  z-index: 5;
}

.main-navigation__header {
  background-color: $color-dark;
  display: flex;
  min-height: 66px;
  width: 100%;
  position: absolute;

  @media (min-width: $tablet-width) {
    min-height: 111px;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 111px;
    position: relative;
  }
}

.main-navigation__header-container {
  display: flex;
  justify-content: space-between;
}

.main-navigation__logo-link {
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 27px;
  }
}

.main-navigation__logo-image {
  margin-left: -72px;
  margin-top: -16px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-top: 0;
  }
}

.logo-img__glasses-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo-img__glasses-desktop,
.logo-img__stars {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.letter,
.logo-img__glasses-tablet,
.logo-img__glasses-desktop {
  fill: #ffffff;
}

.main-navigation__toggle {
  width: 56px;
  height: 29px;
  margin-top: 19px;
  position: relative;
  background-color: transparent;
  border: none;
}

.main-navigation__toggle-icon-open {
  position: absolute;
  top: 0;
  right: 0;
  display: none;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-navigation__toggle-icon-close {
  position: absolute;
  top: 0;
  right: 0;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-navigation__toggle-close svg {
  fill: #ffffff;

  &:hover {
    fill: $color-pink;
  }
}

.main-navigation__wrapper {
  padding-top: 66px;

  @media (min-width: $tablet-width) {
    padding-top: 111px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 0;
  }
}
