.contest-block__content-wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: $color-dark;
  background-repeat: no-repeat;
  content: "";
  min-height: 100px;
  display: block;
  text-align: center;
  @media (min-width: $tablet-width) {
    min-height: 150px;
  }
}

.contest-block__caption {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 50px;
  }
}

.contest-block__text {
  font-size: 14px;
  line-height: 30px;
  color: $color-dark;
  text-align: center;
  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
