.contest-block__content-wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: $color-dark;
  background-repeat: no-repeat;
  content: "";
  min-height: 100px;
  display: block;
  text-align: center;
}

.contest-block__caption {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
  padding-top: 97px;
  padding-bottom: 56px;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 60px;
    padding-top: 179px;
    padding-bottom: 81px;
  }
}

.contest-block__promo-text {
  font-size: 14px;
  line-height: 30px;
  color: $color-dark;
  text-align: center;
  margin: 0;
  margin-top: 45px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    margin-top: 93px;
  }
}

.contest-block__promo-text--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 0;
  }
}
