.contest-block__content-wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: $color-dark;
  background-repeat: no-repeat;
  content: "";
  // width: 19px;
  // height: 19px;
  display: block;
  text-align: center;
}

.contest-block__caption {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.contest-block__text {
  font-size: 14px;
  line-height: 30px;
  color: $color-dark;
  text-align: center;
}
