.form__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.form__achievements,
.form__contacts,
.form__app,
.form__textarea {
  @media (min-width: $tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    margin: 0 auto;
  }
}

.form__achievements-container,
.form__contacts-container,
.form__app-container,
.form__textarea {
  position: relative;
}

.form__contacts-container {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.form__user-data--container {
  width: 280px;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin-top: 63px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-left: 249px;
    // margin-left: 300px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.form__user-data {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.form-flex {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.input-field {
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  padding-left: 20px;
  padding-top: 13px;
  height: 64px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;

  &:hover {
    border: 2px solid $color-dark;
  }

  &:focus {
    border: 2px solid $color-pink;
  }

  @media (min-width: $tablet-width) {
    // margin-bottom: 44px;
  }
}

.input-field-user {
  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 42px;
  }
}

.input-field--bottom-none {
  margin-bottom: 0;
}

.form__text--padding {
  @media (min-width: $tablet-width) {
    padding-right: 19px;
  }
}

.input-field::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: $color-dark;
}

.form__app {
  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 431px;
    margin: 0;
    margin-left: 70px;
    margin-top: 66px;
  }
}

.form__app-input:focus + label .label-text {
  outline: 2px solid #000000;
}

.form__app-container {
  @media (min-width: $desktop-width) {
    width: 431px;
  }
}

.form__achievements,
.form__app {
  background-color: $color-grey;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.form__achievements {
  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    order: 4;
    margin-top: 23px;
  }
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  color: $color-pink;
  text-transform: uppercase;
  text-align: center;
  margin-left: 21px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-top: 32px;
  }
}

.form__text--contacts {
  @media (min-width: $tablet-width) {
    text-align: left;
    // margin-left: 80px;
    // margin-top: -43px;
    margin: 0;
    width: 142px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 79px;
  }
}

.form__text--contacts-2 {
  @media (min-width: $desktop-width) {
    margin-left: 91px;
  }
}

.caption-division {
  padding-top: 38px;
  margin: 0 auto;
  display: block;
  width: 220px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding: 0;
    margin: 0 auto;
  }
}

.caption-division--2 {
  padding-top: 38px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 auto;
    width: 320px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    top: -10px;
    left: 121px;
  }

  @media (min-width: $desktop-width) {
    left: 24px;
  }
}

.caption-division--3 {
  padding-top: 36px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    top: -10px;
    left: 170px;
  }

  @media (min-width: $desktop-width) {
    left: 329px;
  }
}

.caption-division--4 {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    top: -10px;
    left: 170px;
  }

  @media (min-width: $desktop-width) {
    left: 329px;
  }
}

.caption-division--5 {
  @media (min-width: $tablet-width) {
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    top: -60px;
    left: 89px;
    width: 380px;
  }

  @media (min-width: $desktop-width) {
    left: 249px;
  }
}

.form__achievements-list,
.form__app-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form__achievements-list {
  margin-top: 41px;

  @media (min-width: $tablet-width) {
    margin-top: 53px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 6px;
    margin-top: 57px;
  }
}

.form__achievements-label {
  margin-bottom: 43px;
  position: relative;
}

.form__achievements-input:focus + label .label-text {
  outline: 2px solid #000000;
}

.form__achievements-label::before {
  background-color: #ffffff;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  display: inline-block;
  content: "";
  margin-right: 30px;
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    margin-left: 60px;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 61px;
    margin-right: 0;
  }
}

.form__achievements-input:checked + .form__achievements-label::after {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 22px;
  height: 16px;
  position: absolute;
  top: 10px;
  left: 9px;

  @media (min-width: $tablet-width) {
    top: 10px;
    left: 70px;
  }
}

.form__achievements-input:disabled + .form__achievements-label {
  opacity: 0.3;
}

.form__achievements-label--1 {
  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.form__achievements-label--2 {
  @media (min-width: $desktop-width) {
    order: 4;
  }
}

.form__achievements-label--3 {
  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.form__achievements-label--4 {
  @media (min-width: $desktop-width) {
    order: 5;
  }
}

.form__achievements-label--5 {
  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.form__achievements-label--6 {
  @media (min-width: $desktop-width) {
    order: 6;
    margin-left: 6px;
  }
}

.label-text {
  font-size: 18px;
  line-height: 30px;
  color: $color-dark;
}

.label-text-1 {
  padding-top: 10px;

  @media (min-width: $desktop-width) {
    padding-left: 15px;
  }
}

.label-text-2 {
  @media (min-width: $desktop-width) {
    padding-left: 19px;
    padding-right: 35px;
  }
}

.label-text-3 {
  @media (min-width: $desktop-width) {
    padding-left: 17px;
  }
}

.label-text-4 {
  @media (min-width: $desktop-width) {
    padding-left: 20px;
  }
}

.label-text-5 {
  @media (min-width: $desktop-width) {
    padding-left: 17px;
  }
}

.label-text-6 {
  @media (min-width: $desktop-width) {
    padding-left: 23px;
  }
}

.form__contacts {
  margin-top: 34px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    order: 3;
    margin-top: 64px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 66px;
    padding-bottom: 17px;
  }
}

.form__phone,
.form__email {
  flex-direction: column-reverse;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    order: 3;
    width: 464px;
  }
}

.form__phone-label {
  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 0;
    width: 142px;
    margin-top: -5px;
    margin-left: 79px;
  }
}

.form__email-label  {
  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 0;
    width: 142px;
    margin-top: -4px;
    margin-left: 79px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 60px;
  }
}

.form__phone-input {
  @media (min-width: $tablet-width) {
    margin-left: 60px;
    margin-top: 45px;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
  }
}

.form__email-input {
  @media (min-width: $tablet-width) {
    margin-top: 35px;
    margin-left: 60px;
    margin-bottom: 21px;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    margin-left: 41px;
  }
}

.form__phone-pseudo-element {
  margin: 0;
}

.form__email-pseudo-element {
  margin: 0;
}

.form__phone-pseudo-element::before {
  @media (min-width: $tablet-width) {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 19px;
    position: absolute;
    top: 67px;
    right: 82px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    top: 66px;
    left: 393px;
  }
}

.form__phone-pseudo-element::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    background-color: #e5e5e5;
    width: 60px;
    height: 60px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    position: absolute;
    top: 46px;
    right: 60px;
  }

  @media (min-width: $desktop-width) {
    top: 45px;
    left: 373px;
  }
}

.form__email-pseudo-element::before {
  @media (min-width: $tablet-width) {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 13px;
    position: absolute;
    top: 203px;
    right: 82px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    top: 68px;
    left: 838px;
  }
}

.form__email-pseudo-element::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    background-color: #e5e5e5;
    width: 60px;
    height: 60px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    position: absolute;
    top: 177px;
    right: 60px;
  }

  @media (min-width: $desktop-width) {
    @media (min-width: $desktop-width) {
      top: 45px;
      left: 818px;
    }
  }
}

.form__app-list {
  padding-top: 36px;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
    padding-bottom: 16px;
    padding-left: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;
    padding-left: 72px;
  }
}

.form__app-label {
  margin-bottom: 33px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.form__app-label::before {
  background-color: #ffffff;
  width: 37px;
  height: 37px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  display: inline-block;
  content: "";
  margin-right: 28px;
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 19px;
  }
}

.form__app-input:checked + .form__app-label::after {
  width: 15px;
  height: 15px;
  background-color: $color-pink;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  left: 13px;
  display: inline-block;
  content: "";
}

.form__app-input:disabled + .form__app-label {
  opacity: 0.3;
}

.form__app-label:hover::before,
.form__app-label:focus::before,
.form__achievements-label:hover::before,
.form__achievements-label:focus::before {
  border: 2px solid $color-dark;
}

.form__app-label:active::before,
.form__achievements-label:active::before {
  border: 2px solid $color-pink;
}

.form__textarea {
  @media (min-width: $tablet-width) {
    order: 5;
    margin-top: 63px;
    width: 620px;
    padding-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    min-height: 128px;
    margin-top: 63px;
    padding-bottom: 44px;
  }
}

.form__textarea-field {
  font-family: "Open Sans", "Arial", sans-serif;
  display: block;
  margin: auto;
  min-height: 202px;
  box-sizing: border-box;
  padding-top: 16px;
  width: 281px;
  color: $color-dark;

  @media (min-width: $tablet-width) {
    width: 500px;
    margin-top: 47px;
    min-height: 193px;
    box-sizing: border-box;
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 821px;
    min-height: 127px;
    margin-top: 42px;
  }
}

.form__button-required-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    order: 6;
  }
}

.form__button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  padding-left: 45px;
  padding-right: 47px;
  padding-top: 18px;
  padding-bottom: 16px;
  border: none;
  border-radius: 3px;
  margin-top: 48px;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: #7abc98;
  }

  &:disabled {
    background-color: #000000;
    opacity: 0.1;
  }

  @media (min-width: $tablet-width) {
    margin-top: 67px;
    padding-left: 58px;
    padding-right: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 64px;
  }
}

.form__required {
  font-size: 14px;
  line-height: 30px;
  color: $color-dark;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 86px;
  }

  @media (min-width: $desktop-width) {
    width: 320px;
    margin-top: 83px;
  }
}

.form__required--text {
  color: $color-pink;
}

.form__required--text-plus {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    width: 320px;
    display: inline;
  }
}
