.modal-error,
.modal-application-sent {
  display: none;
  background-color: #ffffff;
  margin: auto;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 460px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.text-bold {
  font-size: 18px;
  text-align: center;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal-text {
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.modal-button {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: none;
  border-radius: 3px;
  display: block;
  margin: auto;
}

.modal-application-sent__button-background {
  background-color: $color-grey;
  padding-top: 48px;
  padding-bottom: 51px;
}

.modal-error__button-background {
  @media (min-width: $desktop-width) {
    background-color: $color-grey;
    padding-top: 9px;
    padding-bottom: 1px;
  }
}

.modal-error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 460px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.modal-error__text-bold {
  padding-top: 46px;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
  }
}

.modal-error__text {
  margin: 0;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 61px;
  }
}

.modal-error__button {
  margin-top: 38px;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 128px;
  padding-right: 128px;
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    padding-left: 138px;
    padding-right: 138px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 18px;
  }
}

.modal-application-sent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 460px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.modal-application-sent__text-bold {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 41px;
  }
}

.modal-application-sent__text {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 31px;

  @media (min-width: $desktop-width) {
    padding-bottom: 36px;
  }
}

.modal-application-sent__button {
  padding-top: 18px;
  padding-bottom: 16px;
  padding-left: 70px;
  padding-right: 70px;

  @media (min-width: $tablet-width) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 15px;
    padding-left: 160px;
    padding-right: 160px;
  }
}
